---
layout: layouts/home.njk
eleventyNavigation:
  key: Главная
  order: 1
---
<h1>Каталог советов</h1>

<div class="catalog">
	<section>
		<h2>Установка Node.js</h2>
		{% set tipsTag = 'setup' %}
		{% include "tipslist.njk" %}
	</section>



	<section>
		<h2>Как устроено</h2>
		<p></p>
		{% set tipsTag = 'details' %}
		{% include "tipslist.njk" %}
	</section>

	<section>
		<h2>Хорошие модули</h2>
		<p>В npm много разных модулей, помогаем выбрать хорошие:</p>
		{% set tipsTag = 'modules' %}
		{% include "tipslist.njk" %}
	</section>

	<section>
		<h2>Практики программирования</h2>
		{% set tipsTag = 'programming' %}
		{% include "tipslist.njk" %}
	</section>

	<section>
		<h2>Продакшен</h2>
		<p>Как доставить приложение и как его поднять в продакшене:</p>
		{% set tipsTag = 'production' %}
		{% include "tipslist.njk" %}
	</section>

	<section>
		<h2>Мета</h2>
		<p>Заметки про сайт Нодскула:</p>
		{% set tipsTag = 'meta' %}
		{% include "tipslist.njk" %}
	</section>
</div>

<p>Также см. <a href="{{ '/posts/' | url }}">архив</a>.</p>
