---
layout: layouts/base.njk
templateClass: tmpl-post h-entry
---
<h1 class="p-name">{{ title }}</h1>
<div class="e-content">
{{ content | safe }}
</div>

{%- if author %}<footer class="article-footer">
	{%- if author.pronouns == "he/him"%}Написал
	{% elseif author.pronouns == "she/her" %}Написала
	{% else %}За авторством{%endif%}
	<a class="u-author" href="{{author.url}}">{{author.name}}</a>
	<time class="dt-published" datetime={{date}}>{{date | readableDate}}</time>.

	{% if original_url -%}
		Изначально опубликовано на <a class="u-url" href="{{original_url}}">{{original_url}}</a>.
		<link rel="canonical" href="{{original_url}}" />
	{%- endif -%}
</footer>
{% endif %}
{%- if false -%}
<hr>
<ul>
  {%- set nextPost = collections.posts | getNextCollectionItem(page) %}
  {%- if nextPost %}<li>Следующая статья: <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a></li>{% endif %}
  {%- set previousPost = collections.posts | getPreviousCollectionItem(page) %}
  {%- if previousPost %}<li>Предыдущая статья: <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a></li>{% endif %}
</ul>
{%- endif -%}